/* CSS styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

/* styles.css */

/* Style the form */
form {
    margin: 20px;
}

/* Style form inputs */
input[type="text"],
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* Style the submit button */
button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

  

  .active {
    background-color: #04AA6D;
  }


#reg{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    
}